<home-page-header></home-page-header>
<div class="jumbotron text-center">
    <h1>Welcome to Hugefantacy</h1>
    <p>Simple chat application</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default custom-panel-width">
                <div class="panel-heading">Chat</div>
                <div class="panel-body">
                    <p>Chatting its a plain chatting like one to one and group chatting</p>
                    <p>Available after 31st May 2017</p>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default custom-panel-width">
                <div class="panel-heading">Voice Calling</div>
                <div class="panel-body">
                    <p>Voice calling its a combination on chat and voice implementation along with groups calling is also available</p>
                    <p>Coming soon</p>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default custom-panel-width">
                <div class="panel-heading">Video calling </div>
                <div class="panel-body">
                    <p>Video calling its a combination of chat and voice along with group video calling among 250 people can join that calling</p>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default custom-panel-width">
                <div class="panel-heading">Screen sharing </div>
                <div class="panel-body">
                    <p>Screen sharing is also a combination of chat voice and video</p>
                </div>

            </div>
        </div>
    </div>
</div>