<sign-up-page-header></sign-up-page-header>
<div class="container-fluid" ng-controller="signUpController">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 well">
            <div align="center">
                <form class="form-horizontal">
                    <legend>Create your account</legend>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input email-validation id="email" type="text" class="form-control" name="email"  ng-model="email" placeholder="Email">
                    </div>
                    <div class="help-block">
                        <span style="color:red" ng-bind="emailCheck"></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input password-validation id="password" type="password" class="form-control" name="password" ng-model="password" placeholder="Password">
                    </div>
                    <div class="help-block">
                        <span style="color:red" ng-bind="passwordCheck"></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="cpassword" type="password" class="form-control" name="cpassword" ng-model="cPassword" placeholder="Confirm Password">
                    </div>
                    <div class="help-block">
                        <span style="color:red" ng-bind="passwordMatch"></span>
                    </div>
                    <button type="submit" class="btn btn-success" ng-click="signUp()">Continue</button>

                </form>
            </div>

        </div>
    </div>


</div>