<sign-in-page-header></sign-in-page-header>
<div class="container-fluid" ng-controller="signInController">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 well">
            <div class="row" align="center">
                <legend>Social login's</legend>
                <div class="col-md-6">
                    <a class="btn btn-block btn-social btn-facebook">
                        <span class="fa fa-facebook"></span> Sign in with facebook
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-block btn-social btn-google">
                        <span class="fa fa-google"></span> Sign in with google
                    </a>
                </div>
            </div>
            <hr/>
            <div align="center">
                <form class="form-horizontal">
                    <legend>Login with your account</legend>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="email" type="text" class="form-control" ng-model="username" name="email" ng-click="emailErrorMessage = null" placeholder="Email">
                    </div>
                    <div class="help-block">
                        <span>{{emailErrorMessage}}</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" ng-model="password" ng-click="passwordErrorMessage = null" name="password" placeholder="Password">
                    </div>
                    <div class="help-block">
                        <span>{{passwordErrorMessage}}</span>
                        <span>{{serviceErrorMessage}}</span>
                    </div>
                    <button type="submit" class="btn btn-success" ng-click="authenticate()">Continue</button>
                </form>
            </div>

        </div>
    </div>

</div>
